// .wp-block-ehd-image-carousel {
//   --f-button-next-pos: -200px
// }

.block-image-carousel-wrapper {
  .f-carousel__slide {
    figure a {
      display: block;
      position: relative;
      aspect-ratio: 16/9;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
      }
    }
  }
}