/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.editor-styles-wrapper  .block-tab {
  padding: 1rem;
  border: 1px solid #888;
  margin-bottom: 2rem;

  > h4 {
    --colour-headings : #777;
    
    font-size: 10px;
    text-transform: uppercase;
    padding-bottom: 3px;
  }

  .tab-title input {
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .block-editor-inner-blocks {
    background: white;
    min-height: 4rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
  }
}