.content-wrap .wp-block-cover {
  position: relative;
  overflow: hidden;

  .wp-block-cover__image-background {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: revert; // Ensures the image width can extend beyond its intrinsic size if necessary.
  }

  &.is-style-ehd-cover-parallax {
    .wp-block-cover__image-background {
      top: -25%;
      bottom: -25%;
      will-change: transform; // Optimizes for animations
    }
  }
}