@import "../../src/scss/variables";

.wp-block-ehd-image-gallery {
  .image-gallery {
    display: flex;
    margin: 0 -0.5em;
    flex-wrap: wrap;

    a {
      flex: 0 0 calc(50% - 1em);
      margin: 0.5em;
      overflow: hidden;

      img {
        aspect-ratio: 1/1;
        transition: all 0.3s ease;
        object-fit: cover;
        width: 100%;
      }

      &:hover {
        img {
          opacity: 0.8;
          transform: scale(1.1);
        }
      }

      @media(min-width:$medium) {
        flex: 0 0 calc(33% - 1em);
      }
    }
  }
}